.App {
  text-align: center;
}

.App-header {
  margin-top: 50px;
}

.App .App-logo {
  max-width: 150px;
}

.App main {
  max-width: 600px;
  background: linear-gradient(
    0deg,
    rgb(163, 175, 243) 0%,
    rgb(220, 182, 232) 100.2%
  );
  border-radius: 20px;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

.App h1 {
  margin: 20px auto;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: rgb(136, 51, 164);
}
.App footer {
  font-size: 14px;
}

.App footer a {
  color: rgb(136, 51, 164);
}

@media (max-width: 800px) {
  .App h1 {
    font-size: 30px;
  }
  .App footer {
    font-size: 10px;
  }
}
