.Result {
  text-align: left;
}
.Result h2 {
  font-family: "Playfair Display", serif;
}
.Result h2,
h3 {
  display: inline-block;
  padding: 10px;
  color: rgb(136, 51, 164);
  text-align: left;
}

.Result h3 {
  font-size: 18px;
  color: rgb(86, 84, 84);
}

.Result .nf {
  display: block;
  margin: 0 auto;
  font-size: 14px;
}
